body {
    background-color: black;
    margin:           0;
}

pre {
    margin:           0 auto;
}

.terminal {
    color:            white;
    font-family:      "Courier New", Courier, monospace;
    font-size:        11pt;
}

.cursor {
    color:            black;
    background-color: white;
}
